<div class="header">
  <div class="actions">
    <!--<button class="btn btn-outline-success">Invoice</button>
    <button class="btn btn-outline-success">Customer Receive</button>
    <button class="btn btn-outline-success">Manufacturer Payment</button>
    <button class="btn btn-outline-success">Purchase</button>-->
    <button >Invoice</button>
    <button >Customer</button>
    <button >Payment</button>
    <button >Purchase</button>
    <button (click)="logOut()">LogOut</button>
  </div>

  <!--<div class="icons">
    <span>🔔</span>
    <span>⚠️</span>
    <span class="settings" (click)="toggleDropdown()">⚙️</span>

    <div class="dropdown" *ngIf="showDropdown">
      <a href="#">User Profile</a>
      <a href="#">Change Password</a>
      <a href="#">Logout</a>
    </div>
  </div>-->
</div>
