<div class="sidebar-container">

  <!-- BRAND -->
  <div class="sidebar-brand">
    <!--<img src="assets/logo.png" alt="Logo" />-->
    <span>Hari Medical Store</span>
  </div>

  <!-- USER -->
  <div class="sidebar-user">
    <div class="avatar">HD</div>
    <div class="user-info">
      <div class="name">Hari Duddukunta</div>
      <div class="status">● Online</div>
    </div>
  </div>

  <!-- MENU -->
  <ul class="sidebar-menu">
    <li routerLink="/home/dashboard" routerLinkActive="active">
      <i class="bi bi-speedometer2"></i>
      <span>Dashboard</span>
    </li>
    <li routerLink="/home/invoice" routerLinkActive="active"><i class="bi bi-receipt"></i><span>Invoice</span></li>
    <li routerLink="/home/medicine" routerLinkActive="active"><i class="bi bi-capsule"></i><span>Medicine</span></li>
    <li routerLink="/home/manufacturer" routerLinkActive="active"><i class="bi bi-building"></i><span>Manufacturer</span></li>
    <li routerLink="/home/purchase" routerLinkActive="active"><i class="bi bi-cart"></i><span>Purchase</span></li>
    <li routerLink="/home/return" routerLinkActive="active"><i class="bi bi-arrow-counterclockwise"></i><span>Return</span></li>
    <li routerLink="/home/stock" routerLinkActive="active"><i class="bi bi-box"></i><span>Stock</span></li>
    <li routerLink="/home/customer" routerLinkActive="active"><i class="bi bi-people"></i><span>Customer</span></li>
    <li routerLink="/home/report" routerLinkActive="active"><i class="bi bi-graph-up"></i><span>Report</span></li>
    <li routerLink="/home/supplier" routerLinkActive="active"><i class="bi bi-person-plus"></i><span>Supplier</span></li>

  </ul>

</div>
