<div class="sidebar-container">

  <!-- BRAND -->
  <div class="sidebar-brand">
    <!--<img src="assets/logo.png" alt="Logo" />-->
    <span>Hari Medical Store</span>
  </div>

  <!-- USER -->
  <div class="sidebar-user">
    <div class="avatar">HD</div>
    <div class="user-info">
      <div class="name">Hari Duddukunta</div>
      <div class="status">● Online</div>
    </div>
  </div>

  <!-- MENU -->
  <ul class="sidebar-menu">
    <li class="active">
      <i class="bi bi-speedometer2"></i>
      <span>Dashboard</span>
    </li>

    <li><i class="bi bi-receipt"></i><span>Invoice</span></li>
    <li><i class="bi bi-people"></i><span>Customer</span></li>
    <li><i class="bi bi-capsule"></i><span>Medicine</span></li>
    <li><i class="bi bi-building"></i><span>Manufacturer</span></li>
    <li><i class="bi bi-cart"></i><span>Purchase</span></li>
    <li><i class="bi bi-box"></i><span>Stock</span></li>
    <li><i class="bi bi-graph-up"></i><span>Report</span></li>
    <li><i class="bi bi-person-badge"></i><span>Human Resource</span></li>
  </ul>

</div>
