spring:
  profiles:
    active: local
  application:
    name: pharmacy-management-service
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
        order_inserts: true
  main:
    banner-mode: off

server:
  port: 8081
