<div class="container">
  <div class="invoice-header d-flex align-items-center justify-content-between px-3 py-2">
    <div class="d-flex align-items-center">
      <div class="icon-box-a me-3">A</div>
      <span class="fw-bold text-white">Invoice # INV-202300458</span>
    </div>

    <div class="text-white mx-2">
      Date: 24/04/2023 10:15 AM
    </div>

    <div class="text-white mx-2">
      Logged in as: <span class="fw-bold">John (Pharmacist)</span>
    </div>

    <div class="d-flex align-items-center">
      <label class="text-white me-2 mb-0">Sale Type:</label>
      <select class="form-select form-select-sm sale-dropdown">
        <option value="cash">Cash</option>
        <option value="credit">Credit</option>
        <option value="card">Card</option>
      </select>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card mb-2 shadow-sm">
    <div class="card-header d-flex align-items-center py-1">
      <div class="icon-box me-2">B</div>
      <span>Customer / Patient Details</span>
    </div>

    <div class="card-body g-3 align-items-end">
      <div class="col-md-8 position-relative">
        <div class="d-flex align-items-center gap-3">
          <div class="col-md-8 d-flex gap-3">
            <!-- Customer Name Search -->
            <div class="position-relative flex-grow-1">
              <div class="d-flex align-items-center gap-2">
                <label class="form-label fw-semibold mb-0" style="font-size: 12px; white-space: nowrap;">
                  Customer Name
                </label>
                <div class="input-group shadow-sm" style="height: 25px; width: 250px;">
                  <span class="input-group-text bg-white" style="height: 25px;">
                    <i class="bi bi-search"></i>
                  </span>
                  <input type="text" class="form-control custom-input"
                         placeholder="Search customer..." [value]="searchCustomerName" (input)="onCustomerNameChange($event)"
                         (focus)="activeInput='name'"/>
                </div>
              </div>

              <div class="list-group shadow autocomplete-box" *ngIf="customers.length && activeInput==='name'">
                <button type="button" class="list-group-item list-group-item-action custom-item"
                        *ngFor="let customer of customers" (click)="selectCustomer(customer)">
                  <div class="fw-semibold">{{ customer.name }}</div>
                  <small class="text-muted">{{ customer.phone }} · {{ customer.email }}</small>
                </button>
              </div>
            </div>

            <!-- Phone Search -->
            <div class="position-relative flex-grow-1">
              <div class="d-flex align-items-center gap-2">
                <label class="form-label fw-semibold mb-0" style="font-size:12px; white-space:nowrap;">
                  Phone
                </label>

                <div class="input-group shadow-sm" style="height: 25px; width: 250px;">
                  <span class="input-group-text bg-white" style="height: 25px;">
                    <i class="bi bi-telephone"></i></span>
                  <input type="tel" class="form-control custom-input"
                         placeholder="Search name..." [value]="searchPhone" (input)="onPhoneChange($event)"
                         (focus)="activeInput='phone'"/>
                </div>
              </div>

              <!-- Phone autocomplete dropdown -->
              <div class="list-group shadow autocomplete-box" *ngIf="customers.length && activeInput==='phone'">
                <button type="button" class="list-group-item list-group-item-action custom-item"
                        *ngFor="let customer of customers" (click)="selectCustomer(customer)">
                  <div class="fw-semibold">{{ customer.name }}</div>
                  <small class="text-muted">{{ customer.phone }} · {{ customer.email }}</small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3 align-items-center customer-details" *ngIf="selectedCustomer">
          <div class="col-md-3 text-nowrap text-primary">👤 {{ selectedCustomer.name }}</div>
          <div class="col-md-3 text-nowrap">📧 {{ selectedCustomer.email }}</div>
          <div class="col-md-2 text-nowrap">📞 {{ selectedCustomer.phone }}</div>
          <div class="col-md-2 text-nowrap">⚥ {{ selectedCustomer.gender }}</div>
          <div class="col-md-2 text-nowrap">🎂 {{ selectedCustomer.dob }}</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card mb-2 shadow-sm">
    <div class="card-header d-flex align-items-center py-1">
      <div class="icon-box me-2">C</div>
      <span>Add Medicines</span>
    </div>
    <div class="card-body">
      <!-- ROW 1 : SEARCH -->
      <div class="row mb-3">
        <div class="col-md-4 position-relative">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control custom-input"
                   placeholder="Search by Name, Batch No..." [(ngModel)]="searchMedicineName"
                   (input)="onSearchMedicine()"/>
            <span class="input-group-text bg-white" style="height: 25px;">
              <i class="bi bi-search"></i>
            </span>
          </div>
          <!-- AUTOCOMPLETE -->
          <div class="list-group shadow medicine-autocomplete-box" *ngIf="filteredMedicines.length">
            <button type="button" class="list-group-item list-group-item-action custom-item"
                    *ngFor="let med of filteredMedicines" (click)="selectMedicine(med)">
              <div class="fw-semibold">{{ med.name }}</div>
              <small class="text-muted">{{ med.brand }} · {{ med.dosage }}</small>
            </button>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3 align-items-center medicine-details" *ngIf="selectedMedicineTmp">
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-text input-height">Qty</span>
              <input type="number" class="form-control input-height"
                     [(ngModel)]="selectedMedicineTmp.quantity" min="1" [max]="selectedMedicineTmp.stock" step="1"
                     (ngModelChange)="onQtyChange($event)">
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-text input-height">MG</span>
              <input class="form-control custom-input" [value]="selectedMedicineTmp.dosage" readonly>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-text input-height">MRP</span>
              <input class="form-control custom-input" [value]="selectedMedicineTmp.price" readonly>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-text input-height">Total</span>
              <input class="form-control custom-input" [value]="selectedMedicineTmp.totalPrice" readonly>
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <label class="input-group-text input-height">Stock</label>
              <input class="form-control custom-input" [value]="selectedMedicineTmp.stock" readonly>
            </div>
          </div>

          <div class="col">
            <div class="input-group input-group-sm">
              <span class="input-group-text input-height">Expiry</span>
              <input class="form-control custom-input" [value]="selectedMedicineTmp.expiryDate">
            </div>
          </div>
          <div class="col">
            <div class="input-group input-group-sm">
              <button class="btn btn-primary btn-sm w-100 input-height" (click)="addToCart()"
                      ><!--[disabled]="!selectedMedicineTmp?.quantity" -->
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card mb-2 shadow-sm">
    <div class="card-header d-flex align-items-center py-1">
      <div class="icon-box me-2">D</div>
      <span>Items In Cart</span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table cart-table align-middle mb-0">
          <thead>
          <tr>
            <th>Batch No</th>
            <th>Medicine Name</th>
            <th>MG</th>
            <th>Expiry</th>
            <th>Brand</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Discount</th>
            <th>Total</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cartItems; let i = index" [ngClass]="getExpiryClass(item.expiryDate)">
            <td>{{ item.batchNumber }}</td>
            <td class="fw-semibold">{{ item.name }}</td>
            <td>{{ item.dosage }}</td>
            <td>{{ item.expiryDate }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | number:'1.2-2' }}</td>
            <td>0%</td>
            <td class="fw-semibold">
              {{ item.totalPrice | number:'1.2-2' }}
            </td>
            <td class="text-center">
              <div class="d-flex justify-content-center align-items-center gap-2">
                <div class="form-check form-switch m-0">
                  <input class="form-check-input" type="checkbox" checked>
                </div>
                <button class="btn btn-icon btn-delete" (click)="removeItem(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="card mb-2 shadow-sm">
    <div class="card-header d-flex align-items-center py-1">
      <div class="icon-box me-2">E</div>
      <span>Payment Summary</span>
    </div>
    <div class="card-body">
      <div class="row g-0 payment-summary">

        <!-- LEFT: Amount Details -->
        <div class="col-md-4 border-end">
          <div class="p-3">
            <div class="d-flex justify-content-between mb-2">
              <span>Subtotal:</span>
              <span class="fw-semibold">{{ subTotal | currency:'INR' }}</span>
            </div>

            <div class="d-flex justify-content-between mb-2 border-top">
              <span>Discount:</span>
              <span class="fw-semibold">{{ discount | currency:'INR' }}</span>
            </div>

            <div class="d-flex justify-content-between mb-2 border-top">
              <span>Tax (GST):</span>
              <span class="fw-semibold">{{ gst | currency:'INR' }}</span>
            </div>

            <div class="d-flex justify-content-between pt-2 border-top">
              <span class="fw-bold">Grand Total:</span>
              <span class="fw-bold">{{ grandTotal | currency:'INR' }}</span>
            </div>
          </div>
        </div>

        <!-- RIGHT: Payment Method + Button -->
        <div class="col-md-8">
          <div class="p-3 h-100 d-flex align-items-end justify-content-between">

            <!-- Payment Method -->
            <div class="payment-method">
              <span class="me-2">Payment Method:</span>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pay" value="CASH"
                       [(ngModel)]="paymentMethod">
                <label class="form-check-label">Cash</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="pay" value="CARD"
                       [(ngModel)]="paymentMethod">
                <label class="form-check-label">Card</label>
              </div>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio"
                       name="pay" value="UPI"
                       [(ngModel)]="paymentMethod">
                <label class="form-check-label">UPI</label>
              </div>

              <!-- Button -->
              <button class="btn btn-success process-btn" (click)="processSale()"
                      [disabled]="!cartItems.length || !selectedCustomer">
                Process Sale
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

