<div class="d-flex align-items-center gap-2 mb-2">

  <!-- Search box (takes remaining width) -->
  <input
    type="text"
    class="form-control form-control-sm flex-grow-1"
    placeholder="Search medicines..."
    [(ngModel)]="searchText"
  />

  <!-- Add Medicine -->
  <button
    class="btn btn-primary btn-sm action-btn"
    title="Add Medicine"
  >
    <i class="bi bi-plus-lg"></i>
  </button>

  <!-- Upload CSV -->
  <label class="btn btn-secondary btn-sm action-btn mb-0" title="Upload CSV">
    <i class="bi bi-upload"></i>
    <input
      type="file"
      accept=".csv"
      hidden
      (change)="onCSVUpload($event)"
    />
  </label>

</div>

<div class="table-responsive" style="max-height: 480px; overflow-y: auto;">
  <div class="table-responsive" style="max-height: 480px; overflow-y: auto;">
    <table class="table table-bordered table-striped compact-table">
      <thead class="table-light sticky-header">
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Batch</th>
        <th>Expiry</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let med of filteredMedicines()" [ngClass]="getExpiryClass(med.expiryDate)" class="table-hover-row">
        <td>{{ med.name }}</td>
        <td>{{ med.brand }}</td>
        <td>{{ med.batchNumber }}</td>
        <td>{{ med.expiryDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ med.price | currency }}</td>
        <td>{{ med.stock }}</td>
        <td>{{ med.createdAt | date:'yyyy-MM-dd' }}</td>
        <td>{{ med.updatedAt | date:'yyyy-MM-dd' }}</td>
        <td>
          <button class="btn btn-warning btn-sm p-0 me-1" style="width:24px; height:24px;" title="Edit">
            <i class="bi bi-pencil-fill" style="font-size: 0.8rem;"></i>
          </button>
          <button class="btn btn-danger btn-sm p-0" style="width:24px; height:24px;" (click)="deleteMedicine(med.id)"
                  title="Delete">
            <i class="bi bi-trash-fill" style="font-size: 0.8rem;"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
