<div class="container mt-3">
  <div class="card mb-2 shadow-sm">
    <div class="card-header d-flex align-items-center justify-content-center py-1">
      <span>Show All Medicines</span>
    </div>

    <div class="card-body">
      <!-- 🔍 SEARCH BOX (ADD HERE) -->
      <div class="row mb-3 align-items-center">
        <!-- Search -->
        <div class="col-8 col-md-4 ms-auto">
          <input type="text" class="form-control form-control-sm" placeholder="Search name, Brand or Batch or Expiry"
            [(ngModel)]="searchText" />
        </div>
      </div>

      <div class="table-responsive table-fixed-header">
        <table class="table cart-table align-middle mb-0 table-striped">
          <thead class="table-header">
            <tr>
              <th (click)="sort('id')" style="cursor:pointer">
                Id <i class="bi ms-1" [ngClass]="getSortIcon('id')"></i>
              </th>
              <th (click)="sort('name')" style="cursor:pointer">
                Medicine Name <i class="bi ms-1" [ngClass]="getSortIcon('name')"></i>
              </th>
              <th (click)="sort('brand')" style="cursor:pointer">
                Brand <i class="bi ms-1" [ngClass]="getSortIcon('brand')"></i>
              </th>
              <th (click)="sort('batchNumber')" style="cursor:pointer">
                Batch Number <i class="bi ms-1" [ngClass]="getSortIcon('batchNumber')"></i>
              </th>
              <th (click)="sort('expiryDate')" style="cursor:pointer">
                Expiry <i class="bi ms-1" [ngClass]="getSortIcon('expiryDate')"></i>
              </th>
              <th>Dosage</th>
              <th>Price</th>
              <th>Stock</th>
              <th (click)="sort('updatedAt')" style="cursor:pointer">
                Updated <i class="bi ms-1" [ngClass]="getSortIcon('updatedAt')"></i>
              </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="table-body-scroll">
            <tr *ngFor="let medicine of filteredMedicines(); let i = index"
              [ngClass]="getExpiryClass(medicine.expiryDate)">
              <td>{{ medicine.id }}</td>
              <td>{{ medicine.name }}</td>
              <td>{{ medicine.brand }}</td>
              <td>{{ medicine.batchNumber}}</td>
              <td>{{ medicine.expiryDate}}</td>
              <td>{{ medicine.dosage }}</td>
              <td>{{ medicine.price}}</td>
              <td>{{ medicine.stock}}</td>
              <td>{{ medicine.updatedAt | date:'yyyy-MMM-dd'}}</td>
              <td class="text-center">
                <div class="d-flex justify-content-center align-items-center gap-2">
                  <button class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#editCustomerModal"
                    (click)="openEditDialog(medicine)">
                    <i class="bi bi-pencil-square text-primary"></i>
                  </button>
                  <button class="btn btn-icon btn-delete" (click)="openDeleteModal(medicine)" data-bs-toggle="modal"
                    data-bs-target="#deleteCustomerModal">
                    <i class="bi bi-trash text-danger"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<app-confirm-dialog modalId="deleteCustomerModal" title="Confirm Delete"
  [message]="'Are you sure you want to delete ' + medicineName + '?'" confirmText="Delete"
  (onConfirm)="deleteConfirmed()">
</app-confirm-dialog>