.dashboard {
  background-color: #f8f9fa;
  padding-bottom: 20px;
}

/* KPI Cards */
.stat-card {
  border-radius: 12px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
  }
}

/* Colors */
.bg-primary { background-color: #0d6efd; }
.bg-success { background-color: #198754; }
.bg-danger { background-color: #dc3545; }
.bg-warning { background-color: #ffc107; color: #000; }
.bg-info { background-color: #0dcaf0; color: #000; }
.bg-secondary { background-color: #6c757d; }

/* Action Cards */
.action-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 14px 8px; /* slightly reduced */
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: #fff;
}

.action-card i {
  font-size: 26px;
  color: #0d6efd;
  display: block;
  margin-bottom: 6px;
}

.action-card span {
  font-weight: 500;
  font-size: 14px;
}

.action-card:hover {
  background-color: #0d6efd;
  color: #fff;
}

.action-card:hover i {
  color: #fff;
}


.report-card i {
  color: #198754;
}

.bg-color{
  background-color: #e2e8f0;
}
