<div class="auth-bg">
  <div class="auth-overlay"></div>

  <div class="auth-card p-4">

    <h4 class="text-center mb-3 text-primary">
      Pharmacy Management System
    </h4>

    <p class="text-center text-muted mb-4">
      Login to your account
    </p>

    <!-- Error -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <div class="mb-3">
        <input
          class="form-control"
          formControlName="username"
          placeholder="Username"
          [class.is-invalid]="f.username.touched && f.username.invalid"
        />
        <div class="invalid-feedback">Username is required</div>
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
          [class.is-invalid]="f.password.touched && f.password.invalid"
        />
        <div class="invalid-feedback">Password is required</div>
      </div>

      <button
        class="btn btn-primary w-100 mb-2"
        [disabled]="loginForm.invalid || loading"
      >
        Login
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary w-100"
        routerLink="/auth/register"
      >
        Register
      </button>

    </form>
  </div>
</div>
