/* add-supplier.component.scss */
.modal-header {
  border-bottom: 1px solid #dee2e6;
  background-color: #e2e8f0;
}

.modal-title {
  font-weight: 600;
}

.form-label {
  font-size: 0.85rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0.375rem;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  background-color: #e2e8f0;
}

/* add-supplier.component.scss */

.btn-close-danger {
  filter: invert(20%) sepia(95%) saturate(7000%) hue-rotate(350deg)
          brightness(90%) contrast(120%);
}
